/*Hoja de estilos del componente NavBar.css*/
.navigation{
    margin-top: 10px;
}
.cuadro{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color:#139fd4;
    justify-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}
.icon{
    font-size: 80px;
    margin-top: 20px;
    color: white;
    margin-bottom: 10px;
    align-items: center;
}
.contratos{
    margin-left: 35px;
    color: white;
    text-decoration: none;
}

.link-menu{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}
.cuadro:hover{
    transform: scale(1.1);
}