/* Hoja de estilos del App.js */


/* Definir una nueva fuente */
@font-face {
    font-family: 'Lato';
    src: url('./Assets/Fonts/Lato-Black.ttf');
}

h1{
    font-family: 'Lato';
}

.container-fluid {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.row {
    margin-top: 10px;
}

/* Estilo para ambos componentes */
.general {
    border-radius: 10px;
    background-color: #FFD529;
    width: 100%;
    height: 100%; /* Ajusta la altura según sea necesario */
    margin-bottom: 5px;
    margin-left: 5px;
}

.sidebar.general {
    margin-left: 5px;
}

.mostrar {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.explorar {
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.card-menu:hover {
    transform: scale(1.1);
}
