
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.title {
    margin-top: 20px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Estado inicial */
    }
    50% {
        transform: scale(1.2); /* Estado intermedio */
    }
    100% {
        transform: scale(1); /* Estado final, igual que el inicial */
    }
}

.App-logo {
    width: 20%;
    animation: pulse 3s linear infinite;
}

.form-login {
    border-radius: 50px;
    width: 550px;
    background-color:#FFD529;
}

.login-content {
    margin-top: 50px;
    text-align: center; /* Centra todos los elementos dentro del contenido del inicio de sesión */
}

.nav-item {
    background-color: #000000;
}

.nav-item:hover {
    background-color: white;
    color: black;
    
}

.nav-item{
    width: 50%;
}

#tab-login:hover {
    color: black;
}

#tab-login {
    color: white;
}

.form-control {
    display: flex;
    flex-direction: row; /* Mostrar elementos en línea horizontal */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
}

.form-label {
    color: white;
    margin-right: 10px; /* Ajustar el espaciado entre el label y el input */
}

/* Estilo para el checkbox */
#loginCheck {
    /* Cambia el color del borde del checkbox a negro */
    border-color: #000;
  }
  
  /* Estilo para el indicador visual del checkbox */
  #loginCheck:checked::before {
    /* Cambia el color del indicador cuando está marcado a negro */
    background-color: #000;
    /* Cambia el color del indicador cuando está marcado a blanco */
    border-color: #000;
  }

.boton-login {
    margin-top: 20px; /* Ajustar el margen superior del botón */
    text-align: center;
    background-color: #000000;
    border: #000000;

}

.boton-login:hover {
    background-color: white;
    color: black;

}
