
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.title {
    color: white;
    text-align: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg); /* Define la rotación inicial */
    }
    to {
        transform: rotate(360deg); /* Define la rotación final */
    }
}

.App-logo {
    width: 30%;
    animation: rotate 15s linear infinite;
}

.form-login {
    border-radius: 50px;
    width: 550px;
    background-color: #266787;
}

.form-login:hover{
    background-color: #266787;
}

.login-content {
    margin-top: 50px;
    text-align: center; /* Centra todos los elementos dentro del contenido del inicio de sesión */
}

.nav-item {
    background-color: #139FD4;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: white;
    border-radius: 10px;
    color: #266787;
}
#tab-login:hover {
    color: #139FD4;
}

#tab-login {
    color: white;
}

.form-control {
    display: flex;
    flex-direction: row; /* Mostrar elementos en línea horizontal */
    align-items: center; /* Centrar verticalmente */
}

.form-label {
    color: white;
    margin-right: 10px; /* Ajustar el espaciado entre el label y el input */
}

.boton-login {
    margin-top: 20px; /* Ajustar el margen superior del botón */
    text-align: center;
    background-color: #139FD4;
    border: #139FD4;
}

.boton-login:hover {
    background-color: white;
    color: #266787;

}
